html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.nav {
  display: flex;
}

.nav a {
  font-size: 20px;
  color: #3a3dd6;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
  border: 1px solid #3a3dd6;
  border-radius: 5px;
}

.nav a:hover,
.nav a:focus {
  color: #3a5555;
  background-color: rgba(125, 125, 125, 0.2);
}

.h1 {
  color: #0d10af;
}

.page-wrap {
  padding: 10px 20px;
}

.posts-block {
  margin-top: 20px;
  border: 1px solid #d4d4dd;
}

.post-title {
  font-size: 24px;
}

.post-body {
  font-size: 12px;
}

.posts-get-btn {
  padding: 5px 15px;
  margin: 15px;
  font-size: 16px;
  background-color: white;
  color: #3a3dd6;
}

.search-gr {
  margin-bottom: 20px;
}

.search-gr > input {
  margin-right: 16px;
}

.radios {
  margin: 10px 0;
}
.radios label {
  display: block;
}
